*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    color: black;
    line-height: 1.5;
    text-align: center;
}
.wrapper {
    width: 500px;
    margin: 0 auto;
}
summary {
    font-size: 22px;
    font-weight: 600px;
    background-color: rgb(43, 43,43);
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
}